.menu {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 45px;
}

.menu ul {
  display: grid;
  place-items: center;
  row-gap: 18px;
  width: 100%;
  grid-column: span 2;
  height: 198px;
  overflow: hidden;
  transition: height 0.3s linear;
}

.menu ul.hidden {
  height: 0px;
}

.menu ul a {
  text-decoration: none;
}

.menu .app-logo {
  justify-self: center;
  background-image: url("../../../assets/svg/app-logo.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 66px;
  width: 208px;
}

@media screen and (min-width: 724px) {
  .menu {
    grid-template-columns: 1fr auto;
    row-gap: 0px;
  }

  .menu ul {
    grid-column: initial;
    grid-template-columns: repeat(3, auto);
    column-gap: 17px;
    row-gap: 0px;
  }

  .menu ul.hidden {
    display: grid;
    height: auto;
    transition-duration: 0s;
  }

  .menu .app-logo {
    justify-self: flex-start;
  }
}
