.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24px;
  height: 20px;
  align-self: center;
  margin-top: 12px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  position: relative;
}

.menu-button span,
.menu-button:after,
.menu-button::before {
  display: inline-block;
  height: 4px;
  width: 100%;
  background-color: var(--toucan-regular);
  position: absolute;
  transition: all 0.3s;
  border-radius: 40px;
}

.menu-button span {
  transform: translate(0, 7px);
}

.menu-button:after {
  transform: translate(0, -4px);
}

.menu-button::before {
  transform: translate(0, 18px);
}

.menu-button:after,
.menu-button::before {
  content: "";
}

.menu-button.active::before,
.menu-button.active::after {
  transform: translate(0, 7px);
  width: 28px;
  height: 3px;
}
.menu-button.active::before,
.menu-button.active span {
  transform: translate(0, 7px) rotate(45deg);
  width: 26px;
  height: 3px;
}

.menu-button.active::after {
  transform: translate(0, 7px) rotate(-45deg);
  width: 26px;
  height: 3px;
}


@media screen and (min-width: 724px) {
  .menu-button {
    display: none;
  }
}
